<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation" ><a href="#/index">Principal</a></li>
				<li role="presentation" class="active"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/estado">Estado do Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>
<hr />
<p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>
<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			<input ng-model="filtro" type="text" class="form-control"  />
		</div>
	</div>
	<hr />
	
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Nome</th>
				</tr>
				<tr ng-repeat="categoria in categorias| filter:filtro" ng-click="editar(categoria)">
					<td>{{categoria.id}}</td>
					<td>{{categoria.nome}}</td>				
				</tr>
			</table>
		</div>
	</div>
	
	<hr />
	
	<div class="row">
		<div class="col-md-12">
			
			<form novalidate name="formulario" class="row" ng-submit="submeter(categoria)">	
				<div class="input-group">
					<span class="input-group-btn"> <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
					</span> <input ng-model="categoria.nome" ng-maxlength="100" name="nome" class="form-control" placeholder="Adicione uma nova Categoria ou altere os dados da Categoria selecionada." required />
				</div>
				<span ng-show="formulario.$submited && formulario.nome.$error.required" class="form-control alert-danger">
					Nome  da Categoria obrigatório !!!
				</span>
				<span ng-show="formulario.nome.$error.maxlength" class="form-control alert-danger">
					O Nome da Categoria deve ter no máximo 100 caracteres !!!
				</span>
			</form>
		
		</div>
	</div>
</div>