<meta charset="utf-8" />
<header class="subhead" id="overview">
		<div class="page-header">
  			<h1>Equipamento <small>Dados do Equipamento</small></h1>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
			  <li role="presentation" ><a href="#/index">Principal</a></li>
			  <li role="presentation"><a href="#/categoria">Categoria</a></li>
			  <li role="presentation"  class="active"><a href="#/equipamento">Equipamento</a></li>
			  <li role="presentation"><a href="#/funcionario">Funcionario</a></li>
			  <li role="presentation"><a href="#/manutencao">Manutenção</a></li>
			  <li role="presentation"><a href="#/requisito">Requisito</a></li>
			  <li role="presentation"><a href="#/setor">Setor</a></li>
			  <li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
</header>


<div class="page-header text-center">	
	<h1>{{equipamento.nome}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	
	<div class="col-md-6">
		<div class="form-group">
			<label>Nome do Equipamento</label>
			<input ng-model="equipamento.nome" ng-maxlength="100" name="nome" class="form-control" required />
		<div class="form-group">
			<label>Data Compra</label>
			<input ng-model="equipamento.dataCompra" name="datacompra" class="form-control" required />
		</div>
		<div class="form-group">
			<label>Data Cadastro</label>
			<input ng-model="equipamento.dataCadastro" name="datacadastro" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.datacadastro.$error.required" class="form-control alert-danger">
				Data de cadastro do equipamento obrigatório !!!
			</span>
		</div>
		<div class="form-group">
			<label>Data Inicio Operação</label>
			<input ng-model="equipamento.dataInicioOperacao"name="dataInicioOperacao" class="form-control" required />
		</div>
		<div class="form-group">
			<label>Marca</label>
			<input ng-model="equipamento.marca" name="marca" class="form-control" required />
		</div>
		<div class="form-group">
			<label>Categoria</label>
			<select  name="categoria" class="form-control" ng-controller="CategoriasController" ng-model="equipamento.idCategoria" ng-options="categoria.id as categoria.nome for categoria in categorias" required>
				<option value="">Selecione a Categoria</option>
			</select>
			<span ng-show="formulario.$submited && formulario.categoria.$error.required" class="form-control alert-danger">
				Categoria obrigatória !!!
			</span>
		</div>
		<div class="form-group">
			<label>Setor</label>
			<select  name="setor" class="form-control" ng-controller="SetoresController" ng-model="equipamento.idSetor" ng-options="setor.id as setor.nome for setor in setores" required>
				<option value="">Selecione Setor</option>
			</select>
			<span ng-show="formulario.$submited && formulario.setor.$error.required" class="form-control alert-danger">
				Setor obrigatório !!!
			</span>
		</div>
		<div class="form-group">
			<label>Funcionário</label>
			<select  name="funcionario" class="form-control" ng-controller="FuncionariosController" ng-model="equipamento.idSetor" ng-options="funcionario.id as funcionario.nome for funcionario in funcionarios" required>
				<option value="">Selecione o Funcionário</option>
			</select>
			<span ng-show="formulario.$submited && formulario.funcionario.$error.required" class="form-control alert-danger">
				Funcionário obrigatório !!!
			</span>
		</div>
		<div class="form-group">
			<label>Requisito</label>
			<select  name="requisito" class="form-control" ng-controller="RequisitosController" ng-model="equipamento.idSetor" ng-options="requisito.id as requisito.processador for requisito in requisitos" required>
				<option value="">Selecione o Requisito</option>
			</select>
			<span ng-show="formulario.$submited && formulario.requisito.$error.required" class="form-control alert-danger">
				Requisito obrigatório !!!
			</span>
		</div>
		
		<hr />
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="#/equipamento" class="btn btn-primary">Voltar</a>
		<hr/>
	</div>

</form>	