<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation" class="active"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#/equipamento">Visão geral</a></li>
				<li ><a href="#/equipamento/estado">Situação do Equipamento</a></li>
				<li><a href="#/equipamento/marca">Marcas</a></li>
				<li><a href="#/equipamento/relatorio/equipamento-categoria">Relatório equipamentos por categoria</a></li>
				<li><a href="#/relatorio/equipamentos/setor">Relatório equipamentos por setor</a></li>
				<li><a href="#/relatorio/equipamentos/marca">Relatório equipamentos por marca</a></li>
			</ul>
		</div>

		<div class="col-md-10 col-md-offset-2 main">
				
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>{{usuario.login}}</h1>
				</div>
				<div class="panel-body">
			
			<form novalidate name="formulario" ng-submit="submeter()">

				<div class="form-group">
					<label>Nome</label> 
					<input ng-model="equipamento.nome" ng-maxlength="100" name="nome" class="form-control"  placeholder="Nome do equipamento."required />
				</div>
				<div class="form-group">
					<label>Modelo</label> <input ng-model="equipamento.modelo"
						ng-maxlength="100" name="modelo" class="form-control" placeholder="Modelo do equipamento" required />
				</div>
				<div class="form-group">
					<label>Data Início</label> <input ng-model="equipamento.dataInicio"	name="dataInicio" class="form-control" placeholder="dd/MM/yyyy" />
				</div>
				<div class="form-group">
					<label>Data Fim</label> <input ng-model="equipamento.dataFim" name="dataFim" class="form-control" placeholder="dd/MM/yyyy" />
				</div>
				<div class="form-group">
					<label>Servstag</label> 
					<input ng-model="equipamento.servstag" name="servstag" class="form-control" placeholder="Servstag do equipamento" />
				</div>
				<div class="form-group">
					<label>Patrimônio</label> 
					<input ng-model="equipamento.patrimonio" name="patrimonio" class="form-control" placeholder="Patrimônio"/>
				</div>
				<div class="form-group">
					<label>Categoria</label> 
					<select name="categoria"
						class="form-control" ng-controller="CategoriasController" ng-model="equipamento.idCategoria" ng-options="categoria.id as categoria.nome for categoria in categorias">
						<option value="">Selecione a Categoria</option>
					</select>

				</div>
				<div class="form-group">
					<label>Marca</label> 
					<select name="marca" class="form-control" ng-controller="MarcasController" ng-model="equipamento.idMarca" ng-options="marca.id as marca.nome for marca in marcas" required>
						<option value="">Selecione a Marca do Equipamento</option>
					</select> 
					<span ng-show="formulario.$submited && formulario.marca.$error.required" class="form-control alert-danger">
						Marca obrigatória !!!
				 	 </span>
				</div>

				<div class="form-group">
					<label>Setor</label> <select name="setor" class="form-control"
						ng-controller="SetoresController" ng-model="equipamento.idSetor"
						ng-options="setor.id as setor.nome for setor in setores">
						<option value="">Selecione Setor</option>
					</select>

				</div>
				<div class="form-group">
					<label>Funcionário</label> <select name="funcionario"
						class="form-control" ng-controller="FuncionariosController"
						ng-model="equipamento.idFuncionario"
						ng-options="funcionario.id as funcionario.nome for funcionario in funcionarios">
						<option value="">Selecione o Funcionário</option>
					</select>

				</div>
				<div class="form-group">
					<label>Requisito</label> <select name="requisito"
						class="form-control" ng-controller="RequisitosController"
						ng-model="equipamento.idRequisito"
						ng-options="requisito.id as requisito.processador for requisito in requisitos">
						<option value="">Selecione o Requisito</option>
					</select>

				</div>

				<div class="form-group">
					<label>Estado</label> <select name="estado" class="form-control"
						ng-controller="EstadosController" ng-model="equipamento.idEstado"
						ng-options="estado.id as estado.nome for estado in estados">
						<option value="">Selecione o Estado</option>
					</select>

				</div>

				<a href="#/equipamento" class="btn btn-primary">Voltar</a>
				<button type="submit" class="btn btn-primary"
					ng-disabled="formulario.$invalid">Salvar</button>
				


			</form>
			</div>
			</div>
		</div>




	</div>
</div>