<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation" class="active"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#/equipamento">Visão geral</a></li>
				<li><a href="#/equipamento/estado">Estado do Equipamento</a></li>
				<li><a href="#/equipamento/relatorio/equipamento-categoria">Relatório equipamentos por categoria</a></li>
			</ul>
		</div>

		<div class="col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Equipamento</h1>

			<div class="row placeholders">
				<div class="cold-md-12 placeholder">
					<p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>
					<div class="input-group">
						<span class="input-group-btn"> <a href="#/equipamento/new" 	class="btn btn-primary">Novo equipamento</a>
						</span> <input ng-model="filtro" type="text" class="form-control" placeholder="Está procurando alguma coisa?" />
					</div>
			
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Lista de equipamentos por categoria</h2>
				</div>
				<div class="panel-body">
					<p></p>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Nome</th>
								<th>Modelo</th>
								<th>Data Início Operação</th>
								<th>Data Fim Operação</th>
								<th>Servstag</th>
								<th>Patrimônio</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="equipamento in equipamentos| filter:filtro">
								<td>{{equipamento.id}}</td>
								<td>{{equipamento.nome}}</td>
								<td>{{equipamento.modelo}}</td>
								<td>{{equipamento.dataInicio}}</td>
								<td>{{equipamento.dataFim}}</td>
								<td>{{equipamento.servstag}}</td>
								<td>{{equipamento.patrimonio}}</td>								
								<td><a href="#/equipamento/view/{{equipamento.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>




	</div>
</div>