<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle"
				data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation" class="active"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation"><a href="#/setor">Setor</a></li>
				<li role="presentation"><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li  ><a href="#/equipamento">Visão geral</a></li>
				<li class="active"><a href="#/equipamento/estado">Situação do Equipamento</a></li>
				<li><a href="#/equipamento/marca">Marcas</a></li>
				<li><a href="#/equipamento/relatorio/equipamento-categoria">Relatório equipamentos por categoria</a></li>
				<li><a href="#/relatorio/equipamentos/setor">Relatório equipamentos por setor</a></li>
				<li><a href="#/relatorio/equipamentos/marca">Relatório equipamentos por marca</a></li>
			</ul>
		</div>

		<div class="col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Cadastro de situações do equipamento</h1>

			<div class="row placeholders">
				<div class="cold-md-12 placeholder">
					<p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>
					<input ng-model="filtro" type="text" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title">Situações do equipamento cadastrado no sistema.</h1>
						</div>

						<table class="table table-striped table-bordered">
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Ação</th>
							</tr>
							<tr ng-repeat="estado in estados | filter:filtro">
								<td>{{estado.id}}</td>
								<td>{{estado.nome}}</td>
								<td>
									<button ng-click="editar(estado)" class="btn">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
								</td>
							</tr>
						</table>

					</div>
				</div>
				<div class="col-md-8">
					<form novalidate name="formulario" class="row"
						ng-submit="submeter(estado)">
						<fieldset>
							<legend>Situação do equipamento</legend>
							<div class="form-group">
								<label for="estado">Situação:</label>
								<div class="input-group">
									<span class="input-group-btn">
									<button	ng-click="limpar()" class="btn btn-default">
											<span class="glyphicon glyphicon-remove"></span>
										</button> </span> 
										<input ng-model="estado.nome" ng-maxlength="100" name="estado" id="estado" class="form-control"	
										placeholder="Adicione uma nova situação do equipamento ou altere os dados da situação selecionada." required />
								</div>
							</div>
							<span ng-show="formulario.$submited && formulario.estado.$error.required" class="form-control alert-danger"> 
								Nome da situação do equipamento obrigatório !!! 
							</span>
							 <span ng-show="formulario.estado.$error.maxlength" class="form-control alert-danger"> 
								 O Nome da situação do equipamento deve ter no máximo 100 caracteres !!! </span>
							<button type="submit" class="btn btn-primary"
								ng-disabled="formulario.$invalid">
								<span class="glyphicon glyphicon-floppy-disk"></span> Salvar
							</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>


	</div>
</div>

