<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation" ><a href="#/index">Principal</a></li>
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation" class="active"><a href="#/estado">Estado do Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

	
<div class="container">
	<div class="well">
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
			<tr ng-repeat="usuario in lista | filter: termoBusca ">
				<td>{{estado.id}}</td>
				<td>{{estado.nome}}</td>
				<td>
					<button ng-click="editar(usuario)" class="btn btn-primary">Editar</button>
				</td>
			</tr>
		</table>
		
		<form ng-submit="submeter()">
			<div class="form-group">
				<label for="nome" class="control-label">Nome</label>
				<input ng-model="estado.nome" type="text" class="form-control" name="nome" placeholder="Nome" />
			</div>
			<button class="btn btn-primary">Salvar</button>
		</form>
	</div>