<meta charset="utf-8" />
<header class="jumbotron subhead" id="overview">
		<div class="container">
			<ul class="nav nav-pills">
			  <li role="presentation" class="active"><a href="#/index">Principal</a></li>
			  <li role="presentation"><a href="#">Categoria</a></li>
			  <li role="presentation"><a href="#">Equipamento</a></li>
			  <li role="presentation"><a href="#/funcionario">Funcionario</a></li>
			  <li role="presentation"><a href="#">Manutenção</a></li>
			  <li role="presentation"><a href="#">Setor</a></li>
			  <li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
</header>