<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation" ><a href="#/estado">Estado do Equipamento</a></li>
				<li role="presentation" class="active"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>


<div class="page-header text-center">	
	<h1>{{funcionario.nome}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	
	<div class="col-md-6">
		<div class="form-group">
			<label>Nome</label>
			<input ng-model="funcionario.nome" ng-maxlength="50" name="nome" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.nome.$error.required" class="form-control alert-danger">
				Nome obrigatório !!!
			</span>
			<span ng-show="formulario.nome.$error.maxlength" class="form-control alert-danger">
				O nome deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>Sobrenome</label>
			<input ng-model="funcionario.sobrenome" ng-maxlength="50" name="sobrenome" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.sobrenome.$error.required" class="form-control alert-danger">
				Sobrenome obrigatório !!!
			</span>
			<span ng-show="formulario.sobrenome.$error.maxlength" class="form-control alert-danger">
				O sobrenome deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>E-mail</label>
			<input ng-model="funcionario.email" ng-maxlength="50" name="email" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.email.$error.required" class="form-control alert-danger">
				E-mail obrigatório !!!
			</span>
			<span ng-show="formulario.email.$error.maxlength" class="form-control alert-danger">
				O e-mail deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>Cargo</label>
			<input ng-model="funcionario.cargo" ng-maxlength="50" name="cargo" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.cargo.$error.required" class="form-control alert-danger">
				Cargo obrigatório !!!
			</span>
		</div>
		<div class="form-group">
			<label>Setor</label>
			<select  name="setor" class="form-control" ng-controller="SetoresController" ng-model="funcionario.idSetor" ng-options="setor.id as setor.nome for setor in setores" required>
				<option value="">Selecione Setor</option>
			</select>
			<span ng-show="formulario.$submited && formulario.setor.$error.required" class="form-control alert-danger">
				Setor obrigatório !!!
			</span>
		</div>
		<hr />
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="#/funcionario" class="btn btn-primary">Voltar</a>
		<hr/>
	</div>

</form>	