<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation" ><a href="#/estado">Estado do Equipamento</a></li>
				<li role="presentation" class="active"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="input-group">
					<span class="input-group-btn"> <a href="#/funcionario/new" 	class="btn btn-primary">Novo funcionário</a>
					</span> <input ng-model="filtro" type="text" class="form-control" placeholder="Está procurando alguém ?" />
				</div>
			</form>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>E-mail</th>
					<th>Cargo</th>
					<th>Ação</th>
				</tr>
				<tr ng-repeat="funcionario in funcionarios| filter:filtro">
					<td>{{funcionario.id}}</td>
					<td>{{funcionario.nome}}</td>
					<td>{{funcionario.sobrenome}}</td>
					<td>{{funcionario.email}}</td>
					<td>{{funcionario.cargo}}</td>
					<td><a href="#/funcionario/edit/{{funcionario.id}}" class="btn btn-primary btn-block">Editar</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>