<!-- public/index.html -->
<!DOCTYPE html>
<html lang="pt-br" ng-app="moduloPrincipal">
<head>
<meta charset="utf-8">
<title>Exemplo do angular</title>
<!-- import folhas de estilo -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- import scripts Angular-->
<script src="js/lib/angular.min.js"></script>
<script type="text/javascript">
	angular.module('moduloPrincipal', []);
	angular.module('moduloPrincipal').controller('moduloPrincipalControle', function($scope, $http){
		$scope.lista =[];
		$scope.usuario = null;
		
		$http.get('api/v1/funcionario').success(function(data){
			$scope.lista = data;
			console.log('Sucesso !!!');
		}).error(function(erro){
			console.log(erro);
		});
		$scope.remover = function(usuario){
			$scope.usuario = usuario;
		};
		$scope.editar = function(usuario){
			$scope.usuario = usuario;
		};		
		$scope.salvar = function(){
			$scope.lista.push($scope.usuario);
			$scope.usuario = null;
		};
	
	});
</script>
</head>
<body ng-controller="moduloPrincipalControle">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					<div class="form-group">
						<label for="nome" class="control-label">Nome</label>
						<input type="text" class="form-control" ng-model="termoBusca" placeholder="Filtrar lista de pessoas" />
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>E-mail</th>
						<th>Cargo</th>
						<th>Ações</th>
					</tr>
					<tr ng-repeat="usuario in lista | filter: termoBusca ">
						<td>{{usuario.id}}</td>
						<td>{{usuario.nome}}</td>
						<td>{{usuario.sobrenome}}</td>
						<td>{{usuario.email}}</td>
						<td>{{usuario.cargo}}</td>
						<td>
							<button ng-click="remover(usuario)" class="btn btn-danger">Remover</button>
							<button ng-click="editar(usuario)" class="btn btn-success">Editar</button>
						</td>
					</tr>
				</table>
			</div>	
		</div>
		<form ng-submit="salvar()">
			<div class="row">
			
				<div class="col-md-3">
					<div class="form-group">
						<label for="nome" class="control-label">Nome</label>
						<input ng-model="usuario.nome" type="text" class="form-control" name="nome" placeholder="Nome" />
					</div>
					<div class="form-group">
						<label for="sobrenome" class="control-label">Sobrenome</label>
						<input ng-model="usuario.sobrenome" type="text" class="form-control" name="sobrenome" placeholder="Sobrenome" />
					</div>
					<div class="form-group">
						<label for="email" class="control-label">E-mail</label>
						<input ng-model="usuario.email" type="text" class="form-control" name="email" placeholder="E-mail" />
					</div>
					
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>		
	</div>
	
</body>
</html>