<!-- public/index.html -->
<!DOCTYPE html>
<html lang="pt-br" ng-app=moduloPrincipalParaTestes>
<head>
<meta charset="utf-8">
<title>Teste popular formulário</title>
<!-- import folhas de estilo -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- import minha folha de estilo -->
<link rel="stylesheet" href="css/ui.css">
<!-- import scripts Angular-->
<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<!-- import modulo principal angular  -->
<script src="js/principal-testes.js"></script>
<!-- import scripts da minhas Diretivas Angular-->
<script src="js/directives/uiAlertDirective.js"></script>
</head>
<body ng-controller="moduloPrincipalControle">

	<div class="container">
		<div class="jumbotron">
			<h3>Tela para teste</h3>
			<div ui-alert></div>
		</div>
		
		
		<hr />
		<div class="row">
		<div class="col-md-6">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>E-mail</th>
					<th>Ações</th>
				</tr>
				<tr ng-repeat="usuario in lista | filter: termoBusca ">
					<td>{{usuario.id}}</td>
					<td>{{usuario.nome}}</td>
					<td>{{usuario.sobrenome}}</td>
					<td>{{usuario.email}}</td>
					<td>
						<button ng-click="editar(usuario)" class="btn btn-success">Editar</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">					
			<form ng-submit="salvar()">
				<div class="form-group">
					<label for="id" class="control-label">Id</label>
					<input ng-model="usuario.id" type="text" class="form-control" name="id" placeholder="Id" />
				</div>
				<div class="form-group">
					<label for="nome" class="control-label">Nome</label>
					<input ng-model="usuario.nome" type="text" class="form-control" name="nome" placeholder="Nome" />
				</div>
				<div class="form-group">
					<label for="sobrenome" class="control-label">Sobrenome</label>
					<input ng-model="usuario.sobrenome" type="text" class="form-control" name="sobrenome" placeholder="Sobrenome" />
				</div>
				<div class="form-group">
					<label for="email" class="control-label">E-mail</label>
					<input ng-model="usuario.email" type="text" class="form-control" name="email" placeholder="E-mail" />
				</div>
				<button class="btn btn-primary">Salvar</button>
			</form>
		</div>
		<hr />
		</div>
	</div>
	

</body>
</html>