<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation" ><a href="#/index">Principal</a></li>
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation" ><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/estado">Estado do Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/marca">Marca</a></li>
				<li role="presentation" class="active"><a href="#/requisito">Requisito</a></li>
				<li role="presentation" ><a href="#/setor">Setor</a></li>
				<li role="presentation" ><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="page-header text-center">	
	<h1>Requisito</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	
	<div class="col-md-6">
		<div class="form-group">
			<label>Processador</label>
			<input ng-model="requisito.processador" name="processador" class="form-control" required />
		</div>
		<div class="form-group">
			<label>Memória RAM</label>
			<input ng-model="requisito.memoriaram" name="memoriaram" class="form-control" required />
		</div>
		<div class="form-group">
			<label>HD</label>
			<input ng-model="requisito.hd" name="hd" class="form-control" required />
		</div>
		<div class="form-group">
			<label>Vídeo</label>
			<input ng-model="requisito.video" name="video" class="form-control" required />
		</div>

		<hr />
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="#/requisito" class="btn btn-primary">Voltar</a>
		<hr/>
	</div>

</form>	