<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation"><a href="#/setor">Setor</a></li>
				<li role="presentation" class="active"><a href="#/status">Status</a></li>
				<li role="presentation"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>
<div class="container-fluid">
	<div class="row-fluid">

		<div class="col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#/status">Visão geral</a></li>
			</ul>
		</div>
		<div class="col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Status setor/funcionário</h1>
			<div class="row placeholders">
				<div class="cold-md-12 placeholder">
					<p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>			
				</div>
			</div>
		
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Lista de Status</h1>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<tr>
								<th>Id</th>
								<th>Nome</th>
								<th>Ação</th>
							</tr>
							<tr ng-repeat="statuss in listaStatus| filter:filtro">
								<td>{{statuss.id}}</td>
								<td>{{statuss.nome}}</td>				
								<td><button ng-click="editar(statuss)" class="btn"><span class="glyphicon glyphicon-edit"></span></button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">*</h1>
				</div>
				<div class="panel-body">
					<form novalidate name="formulario" ng-submit="submeter()">	
						<fieldset>
							<legend>Informações do status</legend>
							<div class="form-group">
								<label for="nome">Status:</label>
								<div class="input-group">
									<span class="input-group-btn"><button ng-click="limpar()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
									</span> <input ng-model="statuss.nome" ng-maxlength="100" name="nome" id="nome" class="form-control" placeholder="Adicione um novo status ou altere os dados do status selecionada." required />
								</div>
							</div>
							<span ng-show="formulario.$submited && formulario.nome.$error.required" class="form-control alert-danger">
								O nome do status é obrigatório !!!
							</span>
							<span ng-show="formulario.nome.$error.maxlength" class="form-control alert-danger">
								O nome do status deve ter no máximo 100 caracteres !!!
							</span>
							<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
								<span class="glyphicon glyphicon-floppy-disk"></span>
								Salvar
							</button>
						</fieldset>
					</form>
				</div>
			</div>
									
	
	
	
	
	
	
	
	
	
		</div>
	
		
	</div>
</div>


	





