<meta charset="utf-8" />
<header class="subhead" id="overview">
		<div class="page-header">
  			<h1>Usuário <small>Dados do Usuário</small></h1>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="#/index">Principal</a></li>
			  <li role="presentation"><a href="#/categoria">Categoria</a></li>
			  <li role="presentation"><a href="#/equipamento">Equipamento</a></li>
			  <li role="presentation"><a href="#/funcionario">Funcionário</a></li>
			  <li role="presentation"><a href="#/manutencao">Manutenção</a></li>
			  <li role="presentation"><a href="#/setor">Setor</a></li>
			  <li role="presentation" class="active"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
</header>
<hr />
<div class="page-header text-center">	
	<h1>{{usuario.login}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	
	<div class="col-md-6">
		<div class="form-group">
			<label>Login</label>
			<input ng-model="usuario.login" ng-maxlength="100" name="login" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.login.$error.required" class="form-control alert-danger">
				Login obrigatório !!!
			</span>
			<span ng-show="formulario.nome.$error.maxlength" class="form-control alert-danger">
				O login deve ter no máximo 100 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>Senha</label>
			<input ng-model="usuario.senha" ng-maxlength="100" name="senha" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.senha.$error.required" class="form-control alert-danger">
				Senha obrigatória !!!
			</span>
			<span ng-show="formulario.sobrenome.$error.maxlength" class="form-control alert-danger">
				A senha deve ter no máximo 100 caracteres !!!
			</span>
		</div>

		
		<hr />
		{{usuario}}
		<hr />
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="#/usuario" class="btn btn-primary">Voltar</a>
		<hr/>
	</div>
	

</form>	