<meta charset="utf-8" />
<header class="jumbotron subhead" id="overview">
		<div class="container">
			<ul class="nav nav-pills">
			  <li role="presentation" ><a href="#/index">Principal</a></li>
			  <li role="presentation"><a href="#">Categoria</a></li>
			  <li role="presentation"><a href="#">Equipamento</a></li>
			  <li role="presentation"><a href="#/funcionario">Funcionario</a></li>
			  <li role="presentation"><a href="#">Manutenção</a></li>
			  <li role="presentation"><a href="#">Setor</a></li>
			  <li role="presentation" class="active"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
</header>
<h3 class="jumbotron"> Cadastro Usuário </h3>
<div class="page-header text-center">	
	<h1>{{usuario.nome}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	
	<div class="col-md-6">
		<div class="form-group">
			<label>Nome</label>
			<input ng-model="usuario.nome" ng-maxlength="50" name="nome" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.nome.$error.required" class="form-control alert-danger">
				Nome obrigatório !!!
			</span>
			<span ng-show="formulario.nome.$error.maxlength" class="form-control alert-danger">
				O nome deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>Sobrenome</label>
			<input ng-model="usuario.sobrenome" ng-maxlength="50" name="sobrenome" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.sobrenome.$error.required" class="form-control alert-danger">
				Sobrenome obrigatório !!!
			</span>
			<span ng-show="formulario.sobrenome.$error.maxlength" class="form-control alert-danger">
				O sobrenome deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		<div class="form-group">
			<label>E-mail</label>
			<input ng-model="usuario.email" ng-maxlength="50" name="email" class="form-control" required />
			<span ng-show="formulario.$submited && formulario.email.$error.required" class="form-control alert-danger">
				E-mail obrigatório !!!
			</span>
			<span ng-show="formulario.email.$error.maxlength" class="form-control alert-danger">
				O e-mail deve ter no máximo 50 caracteres !!!
			</span>
		</div>
		
		<hr />
		{{usuario}}
		<hr />
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="#/usuario" class="btn btn-primary">Voltar</a>
		<hr/>
	</div>
	

</form>	