<meta charset="utf-8" />
<header>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="#/index" class="navbar-brand">Controle de Equipamentos</a>
			<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">Menu</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#/categoria">Categoria</a></li>
				<li role="presentation"><a href="#/equipamento">Equipamento</a></li>
				<li role="presentation"><a href="#/funcionario">Funcionário</a></li>
				<li role="presentation"><a href="#/manutencao">Manutenção</a></li>
				<li role="presentation"><a href="#/requisito">Requisito</a></li>
				<li role="presentation"><a href="#/setor">Setor</a></li>
				<li role="presentation"><a href="#/status">Status</a></li>
				<li role="presentation" class="active"><a href="#/usuario">Usuário</a></li>
			</ul>
		</div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#/usuario">Visão geral</a></li>
			</ul>
		</div>
		<div class="col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Usuário</h1>
			<div class="row placeholders">
				<div class="cold-md-12 placeholder">
					<p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>
					<div class="input-group">
						<span class="input-group-btn"> <a href="#/usuario/new" 	class="btn btn-primary">Novo usuário</a>
						</span> <input ng-model="filtro" type="text" class="form-control" placeholder="Está procurando alguém ?" />
					</div>
			
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Lista de usuários</h2>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Sobrenome</th>
							<th>E-mail</th>
							<th>Ação</th>
						</tr>
						<tr ng-repeat="usuario in usuarios| filter:filtro">
							<td>{{usuario.id}}</td>
							<td>{{usuario.nome}}</td>
							<td>{{usuario.sobrenome}}</td>
							<td>{{usuario.email}}</td>
							<td><a href="#/usuario/edit/{{usuario.id}}" class="btn btn-primary btn-block">Editar</a></td>
						</tr>
					</table>
					
				</div>
			</div>
			
			
			
			
		</div>
	</div>
</div>
		
		
		
		
		
		
		
		
		
		
		
